# Ignore the virtualenv
venv/

# Ignore all python caches
__pycache__/

# Ignore development DB
db.sqlite3

# Ignore configurations by various IDEs
.idea/

# Ignore node stuff
node_modules/
package-lock.json

# Code coverage
.coverage

# vim
*.swp

# generated and config files
squirrel/settings.ini
squirrel/public/*