{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Squirrel | Stockpile{% endblock %}

{% block content %}
<div class="row m-3 justify-content-center">
  <form method="post">
    {% csrf_token %}
    <div class="row mb-3">
      <div class="col-12">
        <div class="card mt-3">
          <h5 class="card-header">Stockpile</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                  {{ form.product|as_crispy_field }}
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                  {{ form.amount|as_crispy_field }}
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                  {{ form.unit_price|as_crispy_field }}
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                  {{ form.purchase|as_crispy_field }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-success">Save stockpile</button>
  </form>
</div>
{% endblock %}