<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Squirrel{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap-4.3.1.min.css' %}">
  </head>
  <body>
    {% block body %}
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="{% url 'overview' %}">Squirrel</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        {% if user.is_authenticated %}
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'orders' %}">Orders</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'products' %}">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'teams' %}">Teams</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'budgets' %}">Budgets</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ user.username }}
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
              <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
            </div>
          </li>
        </ul>
        {% else %}
        <form class="form-inline ml-auto">
          <a href="{% url 'login' %}" class="btn btn-primary">Log in</a>
        </form>
        {% endif %}
      </div>
    </nav>
    <div class="container-fluid mt-2">
        {% block content %}
        {% endblock %}
    </div>
    {% endblock body %}
    <script src="{% static 'js/jquery-3.3.1.slim.min.js' %}" ></script>
    <script src="{% static 'js/popper-1.14.7.min.js' %}" ></script>
    <script src="{% static 'js/bootstrap-4.3.1.min.js' %}" ></script>
  </body>
</html>