{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Squirrel | Order{% endblock %}

{% block content %}
  <h1>Order</h1>
  <form method="post">
    {% csrf_token %}
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4 col-lg-2">
        <div class="form-group">
          {{ form.amount|as_crispy_field }}
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-2">
        <div class="form-group">
          {{ form.product|as_crispy_field }}
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-2">
        <div class="form-group">
          {{ form.state|as_crispy_field }}
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-2">
        <div class="form-group">
          {{ form.unit_price|as_crispy_field }}
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-2">
        <div class="form-group">
          {{ form.event|as_crispy_field }}
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-2">
        <div class="form-group">
          {{ form.team|as_crispy_field }}
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-success">Save order</button>
  </form>
{% endblock %}

