{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Squirrel | Product{% endblock %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    <div class="card mt-3 mb-3">
      <h5 class="card-header">Product</h5>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-6 col-md-4">
              {{ form.name|as_crispy_field }}
          </div>
          <div class="col-sm-6 col-md-8">
            {{ form.url|as_crispy_field }}
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-4">
            {{ form.unit|as_crispy_field }}
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-4">
            {{ form.unit_price|as_crispy_field }}
          </div>
        </div>
        <button type="submit" class="btn btn-success">Save product</button>
      </div>
    </div>
  </form>
{% endblock %}

